.feedback-form-wrapper {
    font: 400 13.3333px Arial;
    .feedback-title {
        font-size: 25px;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
        color: $black;
    }
    .response-message {
        display: none;
        padding: 15px;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
        color: $green;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        background: white;
        @include shadow_border;
    }
}

.feedback-form {
    position: relative;
    padding: 0.5rem 0;
    .form-wrapper {
        display: flex;
        justify-content: space-between;
    }
    input,
    textarea {
        @include shadow_border;
        width: 48%;
        border: 0;
        background: $white;
        border-radius: 5px;
        font-size: 16px;
        max-width: 100%;
        padding: 7px 18px;
        line-height: 2;
        margin-top: 5px;
        margin-bottom: 5px;
        &:focus {
            border-color: $black !important;
            outline: none;
            box-shadow: none;
        }
    }
    textarea {
        width: 100%;
    }

    input[type="submit"] {
        color: $black;
        border: 1px solid $black;
        transition: all 0.3s ease;
        padding: 5px;
        margin: 0 auto;
        display: block;
        cursor: pointer;
        &:hover {
            @include shadow_border;
            background: $black;
            color: $white;
            text-decoration: none;
        }
    }
}
