.feedback-list-wrapper {
    font: 400 13.3333px Arial;
    .feedback_single_list_item_wrap {
        display: flex;
        justify-content: space-between;
        @include shadow_border;
        background: $white;
        border-radius: 5px;
        cursor: pointer;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        transition: all 0.3s ease;
        &:hover {
            opacity: 0.7;
        }
    }
    .feedback-subject {
        color: $black;
        font-weight: 700;
        font-size: 16px;
    }
    .feedback-published_date {
        font-size: 14px;
        color: $black;
    }
}
.feedback-load-more {
    font: 400 13.3333px Arial;
    @include shadow_border;
    color: $black;
    transition: all 0.3s ease;
    padding: 5px;
    margin: 0 auto;
    display: block;
    width: fit-content !important;
    background: $white;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
        background: $black;
        color: $white;
    }
    &.waiting{
        display: flex;
        .loader{
            @include loader;
            
        }
    }
}
.feedback_single_details {
    display: none;
    @include shadow_border;
    padding: 10px;
    font: 400 13.3333px Arial;
    transition: all 0.3s ease;
    border-radius: 5px;
    background: $white;
    p {
        color: $black;
    }
}
