/**
 * #.# Common SCSS
 *
 * Can include things like variables and mixins
 * that are used across the project.
*/

// Colors.
$black: rgba(0, 0, 0, 0.54);
$white: white;
$gray: #dedede;
$green: #65d865;
$red: orangered;
